
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800');

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');


@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Rock+Salt');

#more{
  display:none;
}

#introtextcontainer{
  display:flex;
  justify-content:center;
  width:50%;
  flex-direction:column;
  align-items:center;
  padding:2%;
  color:black;
  position:absolute;
}


#introtextwrapper{ 
  position:absolute;
  display:flex;
  justify-content:center;
  height:65%;
  margin-top:70%;
  width:100%;
   background-size:cover;
 background-image: url("https://images.pexels.com/photos/1095965/pexels-photo-1095965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat:no-repeat;} 
 




body{
  background-color:rgb(218,225,235);
  line-height:1.5;
  color:#4444;
  height:100%;
  width:90%;
}


#animation{
  overflow:hidden;
 display:flex;
 flex-wrap:wrap;
  margin-top:-2%;
 width:100%;
  background-image: url("https://res.cloudinary.com/dcbxjz7vr/image/upload/v1553024412/dc29bb38efe73c138e9d6c2ff60e94a6.jpg");
  background-size: cover;
  background-position: center;
  position:absolute;
  background-repeat: no-repeat;
}

#intro{
  flex-direction:column;
  width:100%;

}
#words{
  font-size:1.6vw;
  font-family:rock salt;
  color:red;
  animation-duration: 13s;
  animation-delay: 0s;
  animation-iteration-count:2;
  margin:4%;
  padding:0;
  
}


#static{
  animation-duration:5s;
  animation-delay:4s;
  animation-iteration-count:1;
  
}

#statictwo{
  animation-duration:5s;
  animation-iteration-count:1;
  animation-delay:3s;
  
}

#staticthree{
  animation-duration:3s;
  animation-delay:6s;
}


#staticwords{
  position:absolute;
  margin-top:3%; 
  padding:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
}

#staticwords p1{
  align-self:center;
  margin-bottom:10%;
   font-size:4vw;
  color:black;
  font-family: Montserrat;
}

#staticwords p2{
  font-family:'Libre Baskerville';
  font-size:2vw;
  color:black;
  font-style:italic;
 
}

p{
 font-size:1.1vw;
 font-style:none;
 text-align:none;
 font-family:'Libre Baskerville';
 font-weight:400px;

}


button{
 right-margin:50%;
 left-margin:50%;
 font-size:.9vw;
 display:block;
 font-family:Montserrat;
 background-color: rgb(229,237,232);
 border-radius:15px;
  }

question{
  display:none;
  background-color:rgb(231,234,243);
  color:black;
  width:36vw;
  height:50vh;
  margin:0 auto;

}

.gridcontainer p{
  background-color: rgb(246,246,246);
  color:black;
  margin-top:-2%;

}


.gridcontainer{
  background-color:rgb(231,234,243);
  display:flex;
  height:100%;
  width:100%;
  padding:2%;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
textarea{
  color:#444;
  margin-top:3%;
  display:block;
  width:100%;
  box-sizing: border-box;
  font-size:1.1vw;
  height:150%;
  border:none;
  border-color: Transparent; 
    overflow: auto; 
  font-family:'Libre Baskerville';
  font-size:.9em;
  
}

.textarea{
  font-size:1.1vw;
  color:#444;
  display:block;
  border:none;
  border-color: Transparent; 
    overflow: auto;   
	width: 100%;
   height:70%;
  font-family:'Libre Baskerville';
 
   }

.switcher{
  margin-top:5%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
 font-family:Montserrat;
  width:100%;
  }



#dont{
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  width:39%;
  margin:0 auto;
}

#start{
  margin:4%;
  justify-content:center;
  text-align:center;
}



.gridcontainer p{
  width:100%;
  background-color:rgb(231,234,243);
  text-align:justify;
  display:inline-block;
/*   text-align:center; */
  justify-content:center;
}

#table,th,td{
  background-color: rgb(231,234,243);
  border: 1px solid black;
border-collapse: collapse;
  padding:5px;
  font-size:.9em;
  color:#444;
  font-family:'Libre Baskerville';
 font-weight:400px;
}

#table th{
  font-weight:bold;
  color:black;
}

#table{
   margin: 0 auto;
}


#result{
 display:none;
  width:60%;
  color:darkgray;
  font-size:1.1vw;
  
}

#table{
  order:1;
  text-align:left;
}

#lala{
  display:flex;
  flex-direction:row;
  width:100%;
  order:2;
  justify-content:center;
  align-items:center;
}

#center, #home,#nextactivity {
margin:1%;
}


#resultcontainer{
  display:flex;
  flex-direction:column;
  
}

#textwrapper{
  background-color:rgb(246,246,246);
  padding:2%;
  margin-bottom:2%;
  margin-top:25%;
  font-size:1.1em;
}



#literary{
  font-style:oblique;
  font-size: 1.5vw;
  padding:1%;
  margin-top:0;
  margin-bottom:0;
  background-color: rgb(231,234,243);
}

#acttwo{
  display: none;
  width:100%;
  height:100%;
}

